@{ 
    Model.EF.user tk = Session[CHAdmin.Common.Constants.USER_SESSION] as Model.EF.user;
}
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/Admin/Index">Cofee House</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                @if (tk != null) {
                    <img src="/Assets/AdminImage/@tk.hinhanh" class="img-circle" alt="Cinque Terre" width="40px" height="40px">
                    @tk.tentk <i class="fa fa-caret-down"></i>
                }
                else { 
                    <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                }
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="/Account/Thongtintaikhoan"><i class="fa fa-user fa-fw"></i> Thông tin tài khoản</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-gear fa-fw"></i> Cài đặt</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/Account/Logout"><i class="fa fa-sign-out fa-fw"></i> Đăng xuất</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="/Admin/Index"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-windows fa-fw"></i> Khách hàng<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Khachhang/Danhsachkhachhang">Danh sách khách hàng</a>
                        </li>
                        <li>
                            <a href="/Khachhang/Dangkinhantin">Danh sách email đăng kí nhận tin</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-list fa-fw"></i> Loại sản phẩm<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Loaisanpham/Danhsachloaisanpham">Danh sách loại sản phẩm</a>
                        </li>
                        <li>
                            <a href="/Loaisanpham/Themloaisanpham">Thêm loại sản phẩm</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-cube fa-fw"></i> Sản phẩm<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Sanpham/Danhsachsanpham">Danh sách sản phẩm</a>
                        </li>
                        <li>
                            <a href="/Sanpham/Themsanpham">Thêm sản phẩm</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-file fa-fw"></i> Đơn hàng<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Donhang/Danhsachdonhang">Danh sách đơn hàng</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-file-text-o fa-fw"></i> Hóa đơn<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Hoadon/Danhsachhoadon">Danh sách hóa đơn</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> Thống kê<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Thongke/Thongketheobieudo">Thống kê doanh thu (Biểu đồ)</a>
                            <a href="/Thongke/Thongketheohoadon">Thống kê doanh thu (Hóa đơn)</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-bell-o fa-fw"></i> Phản hồi<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Phanhoi/Danhsachphanhoi">Thông tin phản hồi</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                @if (tk.maquyen == 1)
                {
                    <li>
                        <a href="#"><i class="fa fa-users fa-fw"></i> Tài khoản<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/Account/Danhsachtaikhoan">Danh sách tài khoản</a>
                            </li>
                            <li>
                                <a href="/Account/Themtaikhoan">Thêm tài khoản</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                }
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>